@model Eventos_Api.Models.Eventos

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Eventos</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.imagen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.imagen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.fecha)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.hora)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.hora)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lugar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lugar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Organizador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Organizador)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.EsPublico)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.EsPublico)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
